div {
    border-radius: 10px;
    border-color: white;
}
#header {
    height: 50px;
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}
#title {
    text-align: center;
    font-family: serif;
    margin-bottom: 0px;
}
body {
    background-size: 100%;
}
#formDiv{
    margin: auto;
    margin-top: 0px;
}
#form {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 55px;
    float: top;
}
.text {
    color: white;
    text-align: center;
}
#prompt{
    float: left;
}
#field {
    width: 210px;
    margin:auto;
    float: right;
}
#buttonDiv {
    margin: auto;
    width: 200px;
    float: bottom;
    margin-top: 100px;
    margin-bottom: 0px;
}
#button {
    margin: 30px;
    width: 150px;
    margin-top: 0px;
}
#previewText {
    margin-top: 0px;
}
#preview {
    max-width: 400px;
    max-height: 400px;
}
#resultsDiv {
    width: 530px;
    background: rgba(0, 0, 0, 0.6); /* translucent black */
}
#list {
    list-style-type: none;
}
li {
    display: inline;
    margin: 8px;
}
#details {
    background: rgba(0, 0, 0, 0.4); /* translucent black */
    text-align: center;
    height: 100px;
    clear: both;
    bottom: 0%;
    position: fixed;
    width: 100%;
}