div {
    border-radius: 10px;
    border-color: white;
}
#headerDiv {
    padding-top: 5px;
    height: 47px;
    width: 420px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: serif;
    background: rgba(0, 0, 0, 0.7); /* translucent black */
}
body {
    background: url(../Images/background.png);
    background-size: 100% 145%;
    background-repeat: repeat-y;
}
.text {
    color: white;
    text-align: center;
}
#textDiv {
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.7); /* translucent black */
}
#title {
    margin: auto;
    font-size: 30px;
    padding-bottom: 5px;
}
#byLine {
    font-size: 17px;
    margin: auto;
    padding: 10px;
}
#gitWrapper {
    text-align: center;
}
#gitButton {
    margin: auto;
    width: 220px;
    height: 35px;
    padding: 5px;
    background-color: #0cf;
    border-radius: 5px;
    font-size: 17px;
    opacity: .85;
    cursor: pointer;
    cursor: hand;
    color: white;
}
.section {
	color: white;
	font-size: 27px;
	padding-top: 8px;
	padding-left: 10px;
}
.body {
    color: white;
    text-align: left;
    font-size: 20px;
    padding: 15px;
    padding-left: 50px;
    padding-bottom: 0px;
    padding-right: 20px;
}
.indent {
	padding-left: 90px;
}
span {
	font-family: "Courier New", Courier, monospace;
    background: rgba(138, 138, 138, 0.2); /* translucent gray */
}
#listTitle{
	text-indent: 15px;
	font-size: 23px;
}
#list {
	margin-bottom: 20px;
}
ul {
	list-style-type: none;
}
li {
	width: 40%;
	display: inline-block;
}
#last {
    padding-bottom: 75px;
}
#detailsBackground {
    background-color: black;
    opacity: .6;
    text-align: center;
    height: 60px;
    clear: both;
    bottom: 0%;
    position: fixed;
    width: 100%;
}
#details {
    padding-top: 5px;
}
.docButton {
    display: inline-block;
    width: 300px;
    font-size: 20px;
    background-color: #0cf;
    color: white;
    text-align: center;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    cursor: hand;
    margin: 20px;
}