div {
    border-radius: 10px;
    border-color: white;
}
#headerDiv {
    padding-top: 5px;
    height: 47px;
    width: 420px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-family: serif;
    background: rgba(0, 0, 0, 0.7); /* translucent black */
}
body {
    background: url(../Images/background.png);
    /*background-color: black;*/
    background-size: 100% 155%;
    background-repeat: no-repeat;
}
.text {
    color: white;
    text-align: center;
}
#textDiv {
    width: 80%;
    margin: auto;
    background: rgba(0, 0, 0, 0.7); /* translucent black */
}
#title {
    margin: auto;
    font-size: 30px;
    padding-bottom: 5px;
}
#byLine {
    font-size: 17px;
    margin: auto;
    padding: 10px;
}
.body {
    color: white;
    text-align: left;
    text-indent: 25px;
    font-size: 20px;
    padding: 15px;
    padding-bottom: 0px;
}
#last {
    padding-bottom: 75px;
    text-align: center;
    text-indent: 0px;
    font-size: 18px;
}
#detailsBackground {
    background-color: black;
    opacity: .6;
    text-align: center;
    height: 60px;
    clear: both;
    bottom: 0%;
    position: fixed;
    width: 100%;
}
#details {
    padding-top: 5px;
}
.docButton {
    display: inline-block;
    width: 300px;
    font-size: 20px;
    background-color: #0cf;
    color: white;
    text-align: center;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    cursor: hand;
    margin: 20px;
}