div {
    border-radius: 10px;
    border-color: white;
}
#header {
    height: 47px;
    width: 365px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 0px;
    text-align: center;
    font-family: serif;
    background: rgba(0, 0, 0, 0.7); /* translucent black */
}
body {
    overflow: hidden;
    background: url(../Images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#formDiv{
    margin-top: 0px;
    height: 35px;
    background: green;
}
#form {
    display: block;
    margin-top: 100px;
    margin-bottom: 0px;
}
.text {
    color: white;
    text-align: center;
}

#field {
    display: block;
    width: 350px;
    margin:auto;
    padding: 3px;
    font-size: 18px;
}
#mainButton {
    margin: auto;
    width: 150px;
    height: 28px;
    float: bottom;
    margin-top: 40px;
    margin-bottom: 0px;
    background-color: #0cf;
    border-radius: 5px;
    font-size: 17px;
    opacity: .85;
    cursor: pointer;
    cursor: hand;
}
#error {
    margin: auto;
    width: 370px;
    height: 31px;
    padding-top: 3px;
    float: bottom;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 5px;
    font-size: 20px;
}
#outputDiv {
    display: inline;
}
#previewDiv {
    margin-left: 10%;
    float: left;
    margin-top: 45px;
    color: green;
}
#preview {
    max-width: 40%;
    max-height: 60%;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0px 0px 25px #333;
}
#resultsDiv {
    width: 675px;
    float: right;
    margin-right: 10%;
    margin-top: 50px;
}
#resultsTitle {
    margin-bottom: 30px;
}
.resultLine {
    height: 10%;
    display: block;
    margin-top: 10px;
}
#line5 {
    margin-bottom: 20px;
}
.outputTitle {
    color: white;
    text-align: left;
    margin-left: 4%;
    display: inline-block;
    width: 3%;
    font-size: 20px;
}
.bar {
    width: 520px;
    height: 30px;
    margin-left: 10%;
    display: inline-block;
}
.fill {
    width: 0px;
    height: 30px;
    background-color: #0cf;
}
.fillNum {
    text-align: center;
    color: white;
    font-size: 20px;
}
#detailsBackground {
    background-color: black;
    opacity: .6;
    text-align: center;
    height: 60px;
    clear: both;
    bottom: 0%;
    position: fixed;
    width: 100%;
}
#details {
    padding-top: 5px;
}
.docButton {
    display: inline-block;
    width: 300px;
    font-size: 20px;
    background-color: #0cf;
    color: white;
    text-align: center;
    padding: 2px;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    cursor: hand;
    margin: 20px;
}